
.portfolio-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    scrollbar-color: red red;
    color:#96c93d;
    background-color: black;
    border-left: solid #96c93d 2px;
    height: 275px;
    width: 75%;
}

.card-img-portfolio{
    width:75px;
    
    /* max-width: 50px; */
}

.portfolio-table{
    /* display: flex;
    flex-direction: column; */
    width:800px;
    scrollbar-color: red red;
}

.portfolio-heading{
    padding:10px;
    outline-style: solid;
}

.table-data{
    font-size: 3vh;
}

.card-img-portfolio-container{
    display: flex;
    justify-content: center;
}

.table-row{

}

.tch{
    padding: 25px;
    font-size: 4vh;
    
}

.tc{
   text-align: center;
}

/* .card-img-portfolio-container{
    width: 50px;
    max-width: 50px;
} */