
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
}


.portfolio-stats-wrapper{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    color: #96c93d;
    background-color: black;
    font-size: 4.5vh;
    padding:25px;
}

.top-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-card-img-wrapper{
    
}

.top-card-img{
    width: 175px;
}

.total-cards-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width:250px;
}

.total-value-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:250px;
}

.portfolio-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    color:#96c93d;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #00b09b;
    border-radius: 20px;
    border: transparent;
  }

.card-img-portfolio{
    width:150px;
    padding: 10px;
}

.card-portfolio-data{
    /* display: flex; */
}

.portfolio-table{
  position: relative;
   
}


.empty-row{
    vertical-align: middle;
}

.empty-cell{

}

.portfolio-heading{
    padding:10px;
    outline-style: solid;
    position: sticky;
    background-color: #96c93d;
    color: black;
    top:0;
    /* display: flex; */
}

.table-data{
    font-size:3.5vh;
    padding: 50px;
    cursor: default;
}

.card-img-portfolio-container{
    display: flex;
    justify-content: center;
}


.tch{
    padding: 30px;
    font-size: 4vh;
    
}

.tc{
   text-align: center;
   padding: 5px;
}

tbody{
   
}

@media only screen and (max-width: 700px) {
  

    .portfolio{
        flex-direction: column;
    }


    

    
 }