html{
  background-color: #05668D;
}

.App {
  background-color: #05668D
}

.dashboard{

  display: flex;
  flex-direction: column;
  background-color: #427AA1;
}
.header-banner{
  background-color: white;
  border-bottom: 2px black solid;
  font-weight: 300;
  font-size: 5vh;
  width: 100%;
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn{
  cursor: pointer;
  margin-right: 25px;
  font-size: 3vh;
}

.upper-panel{
  /* display: flex;
  flex: 1; */
}

.lower-panel{
  flex: 1;
  background-color: slategray;

}