html{
  background-color: #05668D;
}

.App {
  background-color: #05668D
}

.dashboard{

  display: flex;
  flex-direction: column;
  background-color: #427AA1;
}

.upper-panel{
  /* display: flex;
  flex: 1; */
}

.lower-panel{
  flex: 1;
}