html{
  background-color: #05668D;
}

.App {
  background-color: #05668D
}

.dashboard{

  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #00b09b, #96c93d); 
}

.logout-btn{
  cursor: pointer;
  margin-right: 25px;
  font-size: 3vh;
}

.upper-panel{
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 425px;
  margin: 0 auto;
  max-width: 775px;
  
}

.lower-panel{
  flex: 1;
  background-color: black;
  display: flex ;
  justify-content: center;
  padding: 5px;
  scrollbar-color: red red;
}


@media only screen and (max-width: 600px) {
  

 /* .upper-panel{
  flex-direction: column;
 } */

 

}