
.form-wrapper{
    display: flex; 
    justify-content: center;
    padding:50px;
    background-color: #427AA1;
    margin: 10% 20%;
}

form{

}

.login-form{
    
}

.form-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    margin:5%;
}

.register-link{
    color:black;
}

.register-to-login-link{


}

.register-to-login-link:hover{
    color: white;
    cursor: pointer;
    
}

.register-link:hover{
    color:white;
    cursor: pointer;
}

.form-inner{
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-around;
    letter-spacing: 1px;
}

label{
    display: flex;
}

.btn{
}