.header-banner{
    background-color: black;
    color: white;
    font-weight: 300;
    font-size: 4.5vh;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-options{
    display: flex;
    font-size: 3vh;
  }

  .logout-btn{
    cursor: pointer;
    margin-right: 25px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
  }

  .delete-user-btn{
    color:white;
    margin-right: 25px;
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }

  @media only screen and (max-width: 700px) {
  

    .header-banner{
      font-size: 3vh;
      padding: 5px;
      justify-content: space-between;
    }

    .logout-btn{
      font-size: 2vh;
      margin-right: 0px;
    }

    .delete-user-btn{
      font-size: 2vh;
      margin-right: 0px;
    }
     
    
 }